.panel {
  font-family: "Raleway", sans-serif;
  padding: 0;
  border: none;
}
.panel .panel-heading {
  background: #662da3;
  padding: 15px;
  margin: 0 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.panel .panel-heading .title {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  text-transform: capitalize;
  margin: 0 10px 0 0;
}
.panel .panel-heading .btn {
  color: #662da3;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.panel .panel-heading .btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.panel .panel-body {
  padding: 0 0;
  margin: 0 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.panel .panel-body .table thead tr th {
  color: #333;
  background: linear-gradient(transparent, #f6f6f6);
  font-size: 17px;
  font-weight: 700;
  padding: 12px;
  border-bottom: none;
}
.panel .panel-body .table thead tr th:nth-of-type(2) {
  width: 50%;
}
.panel .panel-body .table tbody tr td {
  color: #555;
  background: linear-gradient(transparent, #f6f6f6);
  font-size: 15px;
  padding: 10px;
  vertical-align: middle;
  border-color: #ddd;
}
.panel .panel-body .table tbody .form-control:focus {
  border-color: #662da3;
  box-shadow: 0 0 4px #662da3;
}
.panel .panel-body .table tbody .user_icon {
  height: 55px;
  width: 55px;
}
.panel .panel-body .table tbody .user_icon img {
  width: 100%;
  height: auto;
}
.panel .panel-body .table tbody .action-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.panel .panel-body .table tbody .action-list li {
  display: inline-block;
}
.panel .panel-body .table tbody .action-list li button {
  color: #fff;
  font-size: 13px;
  line-height: 28px;
  height: 28px;
  width: 28px;
  padding: 0;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li button:hover {
  box-shadow: 0 0 5px #ddd;
}
.panel .panel-footer {
  color: #fff;
  background: #662da3;
  font-size: 16px;
  line-height: 33px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.pagination {
  margin: 0;
}
.pagination li a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 15px;
  font-weight: 700;
  margin: 0 2px;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}
.pagination li a:hover,
.pagination li a:focus,
.pagination li.active a {
  color: #662da3;
  background-color: #fff;
}
@media only screen and (max-width: 479px) {
  .panel .panel-heading {
    text-align: center;
  }
  .panel .panel-heading .title {
    float: none !important;
    margin: 0 0 10px;
  }
  .panel .panel-heading .btn {
    float: none !important;
  }
}
